<mat-card class="product-card" [routerLink]="['/product', product.id]">
  <div class="card-image-container">
    <img [src]="product.images[0]" [alt]="product.title" />
  </div>
  <mat-card-content>
    <p class="price">{{ product.price | currency }}</p>
    <h3 class="title">{{ product.title }}</h3>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-icon-button
      class="add-to-cart-btn"
      (click)="onAddToCard($event)"
      [attr.aria-label]="'Añadir ' + product.title + ' al carrito'"
    >
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
