.confirm-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-header {
  margin-bottom: 8px;
  mat-icon {
    font-size: 80px;
    width: 80px;
    height: 80px;
    color:#3498db ;
  }
}

.confirm-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 0;
  color: #333;
}

.confirm-content {
  margin-bottom: 24px;
  p {
    font-size: 1rem;
    color: #666;
    margin: 0;
  }
}

.confirm-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  width: 100%;

  button {
    flex: 1;
    min-width: 120px;
    padding: 10px 0;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .btn-cancel {
    color: #757575;
    background-color: #f5f5f5;
    &:hover {
      background-color: #eeeeee;
    }
  }
}
